body:not(.popup) {
  font-family: 'Sunflower', sans-serif;
  font-size: 19px;
  background-color: $main-background;
  position: relative;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  max-height: 1080px;
}

main:not(.detail-project) {
  @include position-center;
  width: 1440px;
  height: 760px;
}

.content-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.left-side {
  width: calc(100% / 2);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.right-side {
  width: calc(100% / 2);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
