.global-gnb {
  @include position-center-x;
  margin-top: 30px;

  .gnb-list {
    @include flexbox(between);
  }

  .gnb-item {
    @include inline-flexbox;
    width: 120px;
    height: 75px;
    margin-right: 35px;
    white-space: nowrap;
    overflow: hidden;

    &.is-active {
      a::after {
        border-bottom: 10px solid rgba(0, 255, 0, 0.3);
      }
    }

    &:hover {
      a {
        font-size: 24px;
      }
      img {
        transform: scale(1.2);
      }

      a::after {
        border-bottom-color: rgba(0, 255, 0, 0.3);
      }
    }

    &:active a {
      opacity: 0.4;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      @include text-style-19;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      transition: font-size 250ms ease-in-out;
    }

    a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      border-bottom: 10px solid transparent;
      transition: border-bottom-color 250ms ease-in-out;
    }

    &.gnb-main {
      a::after {
        content: none;
      }

      img {
        display: block;
        width: 60px;
        height: 60px;
        transition: transform 250ms ease-in-out;
      }
    }
  }
}
