.main {
  overflow: hidden;

  .sticky-05,
  .sticky-06,
  .sticky-07 {
    opacity: 0;
  }

  .sticky-01-title,
  .sticky-02-title,
  .sticky-03-title,
  .sticky-04-title {
    z-index: $main-drag-title;
    @include position-center-x;

    &:active {
      a {
        opacity: 0.5;
      }
    }

    &:hover {
      a {
        font-weight: 700;
      }
    }

    a {
      @include inline-flexbox;
      white-space: nowrap;
      font-size: 19px;
      padding: 10px 20px;
      transition: opacity 300ms ease-in-out, font-weight 300ms ease-in-out;
    }
  }

  .sticky-01-title {
    top: 5px;
    margin-left: -3px;
  }

  .sticky-02-title {
    top: 35px;
  }

  .sticky-03-title {
    bottom: 55px;
    transform: translateX(-50%) rotate(-8deg);
  }

  .sticky-04-title {
    top: 40px;
  }

  .sticky-04-img {
    @include position-center-x;
    bottom: -20px;
    margin-left: -2px;
    width: 180px;
    height: 180px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .draggable-list {
    position: absolute;
    top: 60px;
    left: 20px;

    .draggable-item {
      @include flexbox(start, start);
      flex-direction: column;

      .data-wrap {
        @include flexbox(start);

        &:nth-child(4) {
          dt {
            padding-bottom: 30px;
          }
        }

        dt {
          margin-right: 15px;

          &::after {
            content: ':';
            margin-left: 5px;
          }
        }

        dt,
        dd {
          font-size: 19px;
          line-height: 1.6;
          letter-spacing: 0.01em;
        }
      }
    }

    &.projects {
      top: 70px;
      left: 50px;
    }
  }

  .sticky-03 {
    &-icongroup {
      @include flexbox;
      position: absolute;
      right: 15px;
      bottom: 50px;
      transform: rotate(-8deg);

      div {
        @include inline-flexbox;
        margin-right: 5px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
