.projects {
  &-header {
    .index span {
      left: 15px;
    }
  }

  .left-side {
    @include flexbox(around);
    flex-direction: column;

    .projects-line-01,
    .projects-line-02 {
      @include flexbox(around);
      width: 100%;
    }

    .project-folder-back {
      .title-01 {
        left: 15px;
      }
      .title-04 {
        left: 9px;
      }
    }

    .project-01 {
      transform: translate(180px, 160px);
      opacity: 0;
    }

    .project-02 {
      transform: translate(-180px, 160px);
      opacity: 0;
    }

    .project-03 {
      transform: translate(180px, -220px);
      opacity: 0;
    }

    .project-04 {
      transform: translate(-180px, -220px);
      opacity: 0;
    }
  }
}
