.draggable-wrap {
  position: absolute;
  cursor: move;

  &.sticky-01 {
    top: 40px;
    left: 170px;
  }

  &.sticky-02 {
    bottom: 80px;
    right: 130px;
  }

  &.sticky-03 {
    bottom: 80px;
    left: 200px;
  }

  &.sticky-04 {
    top: 40px;
    right: 300px;
  }

  &.sticky-05 {
    bottom: 250px;
    left: 50px;
  }

  &.sticky-06 {
    bottom: 50px;
    right: 400px;

    img {
      width: 60px;
      height: auto;
    }
  }

  &.sticky-07 {
    right: 80px;
    bottom: 350px;

    img {
      width: 60px;
      height: auto;
    }
  }
}
