.hi-yellow {
  background: linear-gradient(to top, rgba(255, 255, 143, 0.5) 50%, transparent 50%);
}

.hi-green {
  background: linear-gradient(to top, rgba(0, 255, 0, 0.3) 50%, transparent 50%);
}

.hi-pink {
  background: linear-gradient(to top, rgba(255, 0, 255, 0.3) 50%, transparent 50%);
}

.hi-blue {
  background: linear-gradient(to top, rgba(0, 254, 254, 0.3) 50%, transparent 50%);
}
